@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  display: grid;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 1.2rem;
}

#container {
  background-color: white;
  padding: 2em;
  max-width: 600px;
  border-radius: 8px;
  margin: 5em auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}

#buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5em;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  padding: 0.5em 0.8em;
}

button:hover {
  box-shadow: black 0 0 0 1px, rgba(255, 255, 255, 0.8) 0 0 0 1px;
  transition: 300ms;
}

span {
  color: gray;
}